body {
    font-family: sans-serif;
    background-color: PowderBlue;
}
header{
    background-color: White;
    padding: 20px;
    border-radius: 10px;
   


}
h1{
  font-family: fantasy ;
}
.p{
    font-size: 30px;
    background-color: SlateBlue;
}

nav{
    margin-top: 20px;
    padding: 10px;
}




.n {
    padding-left: 200px
}
footer{
   background-color: Lavender
}
a {
    text-decoration: none;
    font-family: cursive ;
    font-size: 30px;
   
}
.link-header{
 color: purple ;
 background: Orchid;
 border-radius: 10px;
 margin: 5px;
 padding: 10px;
 

}


.link-header:hover{
 color: BurlyWood ;
  background: Wheat;
  margin: 15px;
  padding: 20px;
}



.link-nav{
 color: purple ;
 background: Orchid;
 border-radius: 10px;
 margin: 5px;
 padding: 10px;
}

.link-nav:hover{
 color: Fuchsia ;
  background: DarkOrchid;
  margin: 15px;
  padding: 20px;
  }

  .social img:hover{
  width:70px;
  height:70px
  }

