body {
    font-family: sans-serif;
    background: PaleTurquoise;
    font-size: 18px;
}

header {
    background: OldLace;
    padding: 13px;
    border-radius: 5px;
}

.link-header {
    font-family: segoe script;
    color: Pink;
    background: DarkMagenta;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}

.link-header:hover {
    font-family: segoe script;
    color: Plum;
    background: FireBrick;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    font-size: 20px
}

header nav {
    padding-top: 18px
}

.link-nav {
    color: LightBlue;
    background: RoyalBlue;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.link-nav:hover {
    color: CornflowerBlue;
    background: MediumBlue;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 18px
}

.cats {
    font-size: 20px;
    color: DarkOrchid;
}

.cats:hover {
    font-size: 30px;
    color: MediumVioletRed;
}

footer {
    background: black;
    border-radius: 5px;
    padding: 13px;
}

.div {
    text-align: right;
}

.social {
    margin: 5px;
}

.social img:hover {
    width: 120px;
    height: 120px;
}
